body {
    background-image: url("../../images/Rocks.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

img {
    margin: 50px;

}

h5 {
    position: absolute;
    margin-left: 300px;
    font-weight: bold;
}

p {
    position: absolute;
    margin-left: px;
    margin-top: 50px;
    margin-right: 250px;
    font-weight: bold;
    padding: 50px
}