body {
  background-image: url("../../images/Rocks.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h5 {
  position: absolute;
  margin-left: 300px;
  font-weight: bold;
  margin-top: 25px;
}

p {
  position: absolute;
  margin-top: 100px;
  margin-right: 250px;
  margin-left: 100px;
  font-weight: bold;
  padding-top: 15px;
}


