.card {
    background: #eea6be;
    color: #2287ac;
    padding: 5px 20px;
}

.background {
  background-image: url("../../images/OceanCalm.avif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: #032937;
  text-shadow: #301801 1px 1px;
}

.card {
    align-items: center;
    margin-top: -175px;
}

h2 {
    font-size: 1.15em;
}