.card {
    text-align: center;
    margin-top: 250px;
    background-color: #eea6be;
    padding: 5px;
    max-height: 300px;
    
}

.body {
    background-image: url('../../images/MountainPeak.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
}

.cardText {
    position: flex;
    margin-top: -30px;
    padding: 5px;
    color: #084961;
}

.cardTitle {
    color: #084961;
    position: flex;
    margin-top: -25px;
    margin-left: 90px;
}
