.title {
    color: #084961;
    font-size: 5em;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
}

.card {
    text-align: center;
    margin-top: -250px;
    background-color: #eea6be;
    padding: px;
    }


    