.background {
    background-image: url("../../images/OceanCalm.avif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    margin-top: -250px;
    background-color: #eea6be;
    padding: 50px;
    }

.title {
    color: #084961;
    text-align: right;
    font-size: 5em;
    position: absolute;
    right: 150px;
    top: 100px;
}

h2 {
    color: #084961;
    font-size: 50px;
}

.backgroundProject {
    background-image: url('../../images/CalmLake.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
