.App {
  text-align: center;
}

.App-header {
  background-image: url(https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVhY2VmdWwlMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: #174d60;
  text-shadow: #301801 1px 1px;
}

.card {
  background: #eea6be
}


.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

a {
  text-decoration: none;
  color: #2287ac;
  font-weight: bolder;
}
