.App {
  text-align: center;
}

.App-header {
  background-image: url(https://images.pexels.com/photos/2613946/pexels-photo-2613946.jpeg?cs=srgb&dl=pexels-trace-hudson-2613946.jpg&fm=jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: #9e5a0c;
  text-shadow: #301801 2px 2px;
}
